In [5]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz
!tar xf spark-3.3.1-bin-hadoop3.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext

In [9]:
spark

In [10]:
sc

In [27]:
# Load csv Dataset 
#df=spark.read.csv('s3:///sample_data.csv',inferSchema=True,header=True)
df=spark.read.csv('/content/drive/MyDrive/topicos_telematica/Casos_positivos_de_COVID-19_en_Colombia-100K.csv',inferSchema=True,header=True)

In [18]:
from pyspark.sql.types import StringType,DoubleType,IntegerType

In [28]:
df.show(2)

+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+---------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+
|fecha reporte web|ID de caso|Fecha de notificación|Código DIVIPOLA departamento|Nombre departamento|Código DIVIPOLA municipio|Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|Estado|Código ISO del país|Nombre del país|Recuperado|Fecha de inicio de síntomas|Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|Pertenencia étnica|Nombre del grupo étnico|
+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+---------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+
| 6/3/2020 0:00:00|         1|     2/3/2020 0:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  19|                       1|   F|       Importado|              Casa|  Leve|                380|         ITALIA|Recuperado|          27/2/2020 0:00:00|           null|    6/3/2020 0:00:00|    13/3/2020 0:00:00|                 PCR|                 6|                   null|
| 9/3/2020 0:00:00|         2|     6/3/2020 0:00:00|                          76|              VALLE|                    76111|            BUGA|  34|                       1|   M|       Importado|              Casa|  Leve|                724|         ESPAÑA|Recuperado|           4/3/2020 0:00:00|           null|    9/3/2020 0:00:00|    19/3/2020 0:00:00|                 PCR|                 5|                   null|
+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+---------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+
only showing top 2 rows

In [19]:
df.groupBy('Nombre departamento').count().orderBy('count',ascending=False).show(10,False)

+-------------------+-----+
|Nombre departamento|count|
+-------------------+-----+
|BOGOTA             |30016|
|BARRANQUILLA       |13065|
|ATLANTICO          |10994|
|VALLE              |10404|
|CARTAGENA          |8333 |
|ANTIOQUIA          |4554 |
|NARIÑO             |3520 |
|CUNDINAMARCA       |2827 |
|AMAZONAS           |2317 |
|CHOCO              |1636 |
+-------------------+-----+
only showing top 10 rows

In [20]:
# Value counts
df.groupBy('Nombre municipio').count().orderBy('count',ascending=False).show(10,False)

+----------------+-----+
|Nombre municipio|count|
+----------------+-----+
|BOGOTA          |30016|
|BARRANQUILLA    |13065|
|CARTAGENA       |8333 |
|CALI            |7747 |
|SOLEDAD         |6233 |
|LETICIA         |2194 |
|MEDELLIN        |2137 |
|TUMACO          |1501 |
|BUENAVENTURA    |1453 |
|QUIBDO          |1367 |
+----------------+-----+
only showing top 10 rows

In [21]:
# Value counts
df.groupBy('Fecha de diagnóstico').count().orderBy('count',ascending=False).show(10,False)

+--------------------+-----+
|Fecha de diagnóstico|count|
+--------------------+-----+
|26/6/2020 0:00:00   |4390 |
|27/6/2020 0:00:00   |4019 |
|28/6/2020 0:00:00   |3580 |
|25/6/2020 0:00:00   |3381 |
|19/6/2020 0:00:00   |3053 |
|18/6/2020 0:00:00   |3040 |
|23/6/2020 0:00:00   |3031 |
|22/6/2020 0:00:00   |2938 |
|21/6/2020 0:00:00   |2781 |
|24/6/2020 0:00:00   |2564 |
+--------------------+-----+
only showing top 10 rows

In [22]:
# Value counts
df.groupBy('Edad').count().orderBy('count',ascending=False).show(50,False)

+----+-----+
|Edad|count|
+----+-----+
|30  |2735 |
|29  |2611 |
|31  |2569 |
|28  |2540 |
|27  |2494 |
|26  |2436 |
|33  |2371 |
|32  |2362 |
|25  |2335 |
|34  |2310 |
|35  |2292 |
|24  |2214 |
|36  |2175 |
|37  |2132 |
|38  |2098 |
|40  |2050 |
|23  |2041 |
|39  |1985 |
|22  |1879 |
|41  |1783 |
|21  |1713 |
|20  |1674 |
|43  |1654 |
|42  |1620 |
|19  |1567 |
|45  |1492 |
|44  |1488 |
|48  |1475 |
|49  |1467 |
|50  |1423 |
|52  |1402 |
|47  |1401 |
|46  |1398 |
|51  |1327 |
|56  |1325 |
|53  |1307 |
|55  |1291 |
|54  |1290 |
|57  |1252 |
|18  |1160 |
|58  |1155 |
|59  |1085 |
|60  |1069 |
|61  |965  |
|62  |932  |
|63  |867  |
|64  |800  |
|65  |736  |
|66  |701  |
|67  |688  |
+----+-----+
only showing top 50 rows

In [23]:
df.groupBy('Estado').count().show(5,False)

+---------+-----+
|Estado   |count|
+---------+-----+
|Fallecido|4663 |
|N/A      |970  |
|Leve     |94367|
+---------+-----+

In [24]:
df.select('Nombre del grupo étnico').distinct().show()

+-----------------------+
|Nombre del grupo étnico|
+-----------------------+
|        WOUNAAN_WAUNANA|
|            POR DEFINIR|
|             PIRATAPUYO|
|                 YUKUNA|
|                 ANDOKE|
|                 MATAPI|
|                   U'WA|
|            DUJOS_TAMAS|
|        SIKUANI_GUAHIBO|
|                   INGA|
|                  PASTO|
|               MACAHUAN|
|                  PIJAO|
|                   null|
|                 DESANO|
|           MURUI_UITOTO|
|              POLINDARA|
|           EMBERA CHAMI|
|              CURRIPACO|
|                  WAYUU|
+-----------------------+
only showing top 20 rows